@model IEnumerable<ExtremeSports2.Data.Entities.Country>

@*<flash dismissable="true" />*@


<table class="table table-striped table-responsive-md table-bordered smfont" id="CountriesTable">
    <colgroup>
        <col span="1" />
        <col span="1" />
        <col span="1" />
    </colgroup>
    <thead>
        <tr>
            <th>
               
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatesNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitiesNumber)
            </th>
            <th>
                <button onclick="showInPopup('@Url.Action("AddOrEdit", "Countries", new { id = 0 }, Context.Request.Scheme)' , 'Nuevo País')" class="primary-button">Nuevo País</button>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CitiesNumber)
                </td>
                <td>
               
                    <a title="Editar" onclick="showInPopup('@Url.Action("AddOrEdit", "Countries", new { id = item.Id }, Context.Request.Scheme)' , 'Actualizar País')" class="icon_edit"><i class="ri-pencil-fill "></i> </a>
                    <a title="Detalle" asp-action="Details" asp-controller="Countries" asp-route-Id="@item.Id" class="icon_edit"><i class="ri-eye-fill"></i></a>
                    <a title="Eliminar"  data-id="@item.Id" class="icon_delete deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i class="ri-delete-bin-2-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>